/*article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
  display: block;
}*/
* {
    box-sizing: border-box;
}
html{
  background-color: whitesmoke;
  background: url(/images/wavebreaker07a.png) no-repeat center fixed;
  background-size: cover;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #333333;
  max-width: 100%;
  max-height: 100%;
  /*max-height: 100%;*/
}
.col-2 {width: 16.66%;}
.col-8 {width: 66.66%;}
p {
  /*font-size: 18px;*/
  font-family: 'Raleway',sans-serif;
  line-height: 1.65;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding-bottom: 15px;
}
/*.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}*/
a {
  color: #333333;
}
a:hover,
a:focus {
  /*color: #0085A1;*/
  color: #0085A1;
  text-decoration: none;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
/*.post-title > a:hover,
.post-title > a:focus{
  color: #0085A1;
  text-decoration: none;
  }
.post-title > .post-subtitle > a:hover,
.post-title > .post-subtitle > a:focus{
  color: #0085A1;
  text-decoration: none;
  }*/
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}


@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1170px) {
}

.intro-header {
  background-color: transparent;
  /*background: url(/images/wavebreaker07a.png) no-repeat center fixed;*/
  background: no-repeat center fixed;
  background-attachment:fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /*margin-bottom: 50px;*/
}

/*.intro-header .post-heading,*/
/*.intro-header .page-heading */
.intro-header .site-heading
{
  padding: 100px 0 50px;
  color: whitesmoke;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading{
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading{
  font-size: 30px;
  line-height: 1.1;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
.intro-header > h2 > .subheading{
  color: firebrick;
}
div > h2 > .subheading a:hover{
  color: #0085A1;
  text-decoration: none;
}
div > h2 > .subheading a:focus{
  color: #0085A1;
  text-decoration: none;
}
.copy-right{
  text-align: left;
  position: absolute;
}
.intro-header .photo-title {
  position: absolute;
  right: 2px;
  bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}

@media only screen and (min-width: 320px) {

}
#post-brand{
  background: transparent;
  color: gray;
}

body {
  -webkit-tap-highlight-color: #0085A1;
  }
