body {
    padding-top: 50px;
    padding-right: 250px;
    padding-bottom: 250px;
    padding-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F9F8EE;
}

a:link {
color: blue;
text-decoration: none;
}

a:visited {
  color:purple;
  text-decoration: none;
}

a:hover {
  color:red;
  text-decoration: none;
}

body h1 {
  font-style: Helvetica;
  color: #000001;
}

body q {
  font-size: 15px;
  padding-left: 180px;
  
}

aside {
  padding-top: 150px;
  padding-right: 450px;
  padding-bottom: 200px;
  padding-left: 0;
  background-color: #FFCECE;
}

body h2{
  font-style: Helvetica
}