body {
	 max-width: 100%;
	/*font-family: 'Ubuntu', sans-serif;
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Duru Sans', sans-serif;
	font-family: 'Raleway', sans-serif;*/
	 font-family: 'Work Sans', sans-serif;
}
.container {
	max-width: 800px;
	/*height: 65px;
	padding: 5px;
	margin-top: 30px;
	margin-bottom: 40px;*/
}
@media (min-width: 550px){
  .header {
  	margin-top: 18rem;
  }
}

  .header {
  	text-align: left;
  	margin-top: 65px;
  	height: 55px;
  }

  h2 {
	color: #4F5256;
	margin-right: 0;
	/*font-family: 'Poppins', sans-serif;*/
	font-family: 'Work Sans',sans-serif;
	/*width: 800px; 
	font-weight: 300;
	text-align: left;
	font-size: 34px;*/
	padding-left: 0;
	letter-spacing: .5px;
}


 h3 {
	color: #4F5256;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: .5px;
	width: 800px;
	margin-right:0;
	/*font-family: 'Poppins', sans-serif;*/
	font-family: 'Work Sans', sans-serif;
	text-align: left;
	padding-left: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}
.navbar-list li {
	list-style: none;
	display: inline;
	padding-right: 10px;
	text-align: left;
}
	

/*.navbar {
	display: none;
}*/

.navbar-link {
	/* background-color: #4F5256; */
}


@media (min-width: 750px) {
	.navbar-spacer{
		display: none;
	}
}

@media (min-width: 750px){
	.navbar, navbar-spacer {
		/*display: block; */
		width: 100%;
		height: 6.5rem;
		
		z-index: 99;
		border-top: 1px solid #eee;
	}
}

@media (min-width: 750px){
	.navbar-list {
		list-style: none;
		margin-bottom: 0;
	}
}
/*li .blog-link {
	list-style-type: none;
}
.clear-list .blog-link {
	list-style-type: none;
}*/


a:link {
	padding-top: 10px;
	text-decoration: none;
	color: #00AFEC;
	font-size: 18px;
}

a:visited {
	color: #C017CA;
	font-size: 18px;
  padding-top: 10px;
  text-decoration: none;
  }

a:hover {
	color: green;
	padding-top: 10px;
	text-decoration: none;
	font-size: 18px;
}

.first-blog-links row, .second-blog-links row, .third-blog-links row {
	padding-right: 10px;
	padding-bottom: 10px;
}

.quote {
	font-style: 'Raleway', sans-serif;
	margin-bottom: 0;
	font-size: 50px;
	opacity: .1;
	text-align: left;
	margin-left: 0;
}

.reflection {
	padding-bottom: 20px;
}
.time-and-habits {
	padding-bottom: 20px;
}
.design-to-web {
	padding-bottom: 20px;
}
.technicalp1, .technicalp2 {
	padding-bottom: 20px;
}
.culturalp1, .culturalp2 {
	padding-bottom: 20px;
}

.fireside {
	padding-left: 169px;
}
.time-habit {
	padding-left: 162px;
}
.cult {
	padding-left: 174px;
}
.tech-one {
	padding-left: 164px;
}
.tech-two {
	.padding-left: 119px;
}

h1 {
	padding-left: 178px;
	width: 600px;
	color: #4F5256;
	font-family: 'Work Sans', sans-serif;
	/*font-family: 'Poppins', sans-serif;*/
	font-weight: 300;
	font-size: 48px;
	letter-spacing: 2px;
}


.novice {
	width: 400px;
	margin-right: 0;
  margin-left: 0;
}

.blog-header {
font-weight: 400;
font-size: 24px;
}

.habits {
	margin-top: 30px;
}

.interesting {
	margin-top: 95px;
}

.worked {
	margin-top: 55px;
}

.experiment {
	margin-top: 30px;
}	
.html-css-dom {
	margin-top: 30px;
}

.boxifying {
	margin-top: 310px;
}

.box-model {
	margin-top: 163px;
}

.grid-design {
	margin-top: 30px;
}

.respond {
	margin-top: 222px;
}

.structure {
	margin-top: 323px;
}

.mobile-first {
  margin-top: 265px;
}
.framework {
  margin-top: 340px;
}
.wireframe {
  margin-top: 360px;
}

/*.difficult {
  margin-top: 1200px;
}*/

.who-am-i {
	height: 50px;
	padding-top: 50px;
	text-align: right;
}

.experience {
	margin-top: 30px;
 }

.impressions {
	margin-top: 52px;
	margin-bottom: 40px;
}
.engage {
	margin-top: 116px;
 }

.expect {
	margin-top: 100px;
}
.excited {
	margin-top: 119px;
}
.process {
margin-bottom: 0;
}
.mediate {
margin-top: 268px;
}
.learnt {
margin-top: 41px;
}
.stand-out {
margin-top: 60px;
}
.musings {
margin-top: 41px;
}

.responsiveness {
  margin-right: 400px;
  margin-bottom: 200px;
  margin-top: 0;
}

.footer-home {
	border-top: 2px solid red;
	margin-bottom: 50px;
	padding-top: 5px;
	text-align: right;
}
.blog-text {
	margin-bottom: 100px;
	margin-left: 262px;
	margin-right: 0;
	text-align: justify;
}
q {
	font-size: 15px;
	margin-bottom: 300px;
	text-align: justify;
}
/*Bigger than 400 */
@media (min-width: 400px){}
/* Bigger than 550 */
@media (min-width: 550px){}
/*Bigger than 750 */
	@media (min-width: 750px){}
/*Bigger than 1000*/
@media (min-width: 1000px){}
/*

.reflection {
	position: fixed;
	left: 10px;
	width: 230px;
	padding: 5px;
 } */


/*
 .habit {
	position: fixed;
	left: 10px;
	width: 230px;
	padding: 5px;
 }

/*
.home {
	border-top: 2px solid red;
	margin-bottom: 50px;
	padding-top: 5px;
	text-align: right;
	max-width: 96%
 }

.who-am-i {
	height: 50px;
	padding-top: 50px;
}

.learnings {
margin-top: 30px;
}

.two-minutes {
margin-top: 423px;
}
