article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
  display: block;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #333333;
}
.navbar-fixed-top {
background-color: rgba(0,0,0,.35);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.container-fluid {
  max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}
li, a{
  list-style: none;
}
.navbar-right>li>a{
font-size: 14px;
    font-size: .875rem;
    line-height: 2.71429;
    border: 1px solid transparent;
    color: #fff;
    display: block;
    text-transform: uppercase;
    padding: 0 26px;
    position: relative;
}

@media only screen and (max-width: 47.9375em) {
body #toggle {
    width: 50px;
    height: 74px;
    padding: 20px 40px;
    z-index: 1000;
    background-position: 50% 50%;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all .6s cubic-bezier(.7,.01,.3,1);
    transition: all .6s cubic-bezier(.7,.01,.3,1);
}
}
@media only screen and (max-width: 47.9375em){
body #toggle, body #toggle * {
    background-repeat: no-repeat;
}
}
@media only screen and (max-width: 47.9375em){
body #toggle .toggle-bars {
    width: 24px;
    height: 4px;
    margin: 10px 0;
    background: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
}
}
@media only screen and (max-width: 47.9375em) {
body.no-scroll .navbar-right {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}
}
@media only screen and (max-width: 47.9375em) {
.navbar-right {
    visibility: hidden;
    width: 100%;
    padding: 0;
    opacity: 0;
    -webkit-transition: all .1s cubic-bezier(.7,0,.36,.63);
    transition: all .1s cubic-bezier(.7,0,.36,.63);
}
}
@media only screen and (max-width: 47.9375em){
.navbar-right {
    left: 0;
    position: absolute;
    top: 66px;
    width: 100%;
    z-index: 999;
}
}
